<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CadastrarEventoServlet</servlet-name>
        <servlet-class>Tarefa2.CadastrarEventoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarEventoServlet</servlet-name>
        <servlet-class>Tarefa2.BuscarEventoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarEventoServlet</servlet-name>
        <servlet-class>Tarefa2.DeletarEventoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarTodosEventosServlet</servlet-name>
        <servlet-class>Tarefa2.ListarTodosEventosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarEventoServlet</servlet-name>
        <servlet-class>Tarefa2.EditarEventoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarEventoServlet</servlet-name>
        <servlet-class>Tarefa2.AtualizarEventoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarEdicaoEventoServlet</servlet-name>
        <servlet-class>Tarefa2.AdicionarEdicaoEventoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarEventoServlet</servlet-name>
        <url-pattern>/CadastrarEventoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarEventoServlet</servlet-name>
        <url-pattern>/BuscarEventoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarEventoServlet</servlet-name>
        <url-pattern>/DeletarEventoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarTodosEventosServlet</servlet-name>
        <url-pattern>/ListarTodosEventosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarEventoServlet</servlet-name>
        <url-pattern>/EditarEventoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarEventoServlet</servlet-name>
        <url-pattern>/AtualizarEventoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarEdicaoEventoServlet</servlet-name>
        <url-pattern>/AdicionarEdicaoEventoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
